@charset "UTF-8";
@import url(font-awesome.min.css);
@import "http://fonts.googleapis.com/css?family=Raleway:400,700";



/* Basic */

	body {
		background: #fff;
	}


	body, input, select, textarea {
		color: #666;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 1em;
	}

	a {
		color: #f32853;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
					
		}

	strong, b {
		color: #484848;
		font-weight: 700;
	}

	

	p {
		cursor: auto;
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		cursor: auto;
		color: #484848;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
		
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	ul, li {
		cursor: auto;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}


/* List */



		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		



/* Button */

.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.blue {
  text-decoration: none;
  background: #455868;
  color: #fff;
  font-size: 24px;
}

a.button {cursor: pointer;}

a.button:hover, a.button:active {
	color: #000;
	border-bottom: 1px solid #000;
    background-color: #8c99a4;
}

	

/* Header */

	hr {
    color: #000;
    width: 30%;
     display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1.5px;
	}

	.logo a:hover {
		border-bottom: #fff;
	}

	

	#header {
		background-color: #fff;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
		color: #000;
		cursor: default;
		font-size: 1.25em;
		height: 4.5em;
		left: 0;
		line-height: 4.4em;
		position: fixed;
		/*text-transform: uppercase;*/
		top: 0;
		width: 100%;
		z-index: 10000;
	}

		#header h1 {
			color: #000;
			font-weight: 400;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

nav {
    width: 100%;
    background: #455868;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #283744;
    z-index: 999999999999;
    position: fixed;
}


nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
}

nav li a {
    border-right: 1px solid #576979;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #8c99a4;
}

nav a#pull {
    display: none;
}  

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}

		#header.alt {
			background-color: transparent;
			border: 0;
			box-shadow: none;
			height: 3.25em;
			line-height: 3.25em;
			position: absolute;
		}

			#header.alt h1 {
				color: #fff;
				left: 1.5em;
   				 top: 0em;
			}

				#header.alt h1 a {
					color: #fff;
				}

				#header.alt nav a {
					color: #fff;
				}

					#header.alt nav a:active, #header.alt nav a:hover {
						color: #000;
						border-bottom: 1px solid #000;
					}


/* Banner */

		#banner {
		padding: 22em 0 28em 0;
		/*background-image: url("images/overlay.png"), url("../images/pic04.jpg");*/
		line-height: 1.75;
		text-align: center;
		}

		#banner :last-child {
			margin-bottom: 0;
		}

		#banner h2 {
			color: #fff;
			display: inline-block;
			font-size: 1.5em;
			line-height: 0.25;
			margin-bottom: 0.5em;
		}

		#banner ul {
			display: block;
			list-style: none;
		}

		#banner p {
			color: #fff;
			font-size: 1.5em;
			margin-bottom: 1.75em;
			padding-left: 30px;
			padding-right: 30px;
		}

	body.is-touch #banner {
		background-attachment: scroll;
	}

.blurb {
	background-color: #455868;
    color: white;
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1% 0;
    display: none;
}

.blurb h2 {
	color: #fff;
}

.blurb > p:first-of-type{
	margin-bottom:0;
}



/*About*/

#about {
	background-image: url("images/overlay.png"), url("../images/about-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    color: white;
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1% 0;
}

#about h2 {
	color: #fff;
}

#about img {
	border-radius: 50%;

}

#about p {
	padding-left: 30px;
	padding-right: 30px;
}

/*Projects Section */

.projects {
	background-image: url("images/overlay.png"), url("../images/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    color: white;
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
}

.projects h2 {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
}

.projects p {
	padding-left: 30px;
	padding-right: 30px;
}

#project-hr {
	margin-bottom: 20px;
}

.projects h3 {
	padding: 10px;
	display: inline-block;
	color: #fff;
}

.projectcontent {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 30px;
}

.projectcontent .contentboxo {
	height: 300px;
    display: inline-block;
    margin: 1%;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: all 0.6s ease 0s;
    width: 30.3%;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.094), 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.2), 0 2px 1.5px 0 rgba(0, 0, 0, 0.1);
}

.projectcontent .contentboxo img.overlayo {
    display: block;
    margin: 0 auto;
    position: relative;
    transition: opacity 0.3s ease 0s;
    width: 100%;
    z-index: 500;
}

.projectcontent .contentboxo .info {
background-color: rgba(32, 30, 25, 0.6);
color: #fff;
display: block;
font-size: 1.4em;
font-weight: normal;
height: 100%;
left: 0;
line-height: 1em;
opacity: 0;
padding-top: 5%;
position: absolute;
text-align: center;
top: 0;
transition: all 0.3s ease 0s;
width: 100%;
z-index: 400;
margin-bottom: 35px;
}

.projectcontent .contentboxo:hover img.overlayo {
opacity: 0.2;
}

.projectcontent .contentboxo:hover .info {
opacity: 1;
}

.highlight {
color: #fff;
font-size: 0.8em;
font-weight: 300;
}	








/* Footer */
	#footer {
		list-style: none;
		padding: 8em 0 6em 0;
		color: #aaa;
		text-align: center;
		background-image: url("images/overlay.png"), url("../images/space.jpg");
		background-attachment: fixed;
		background-position: center top;
		background-size: cover;

	}

	#footer h3{
		color: #aaa;
	}

		#footer a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-o-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			color: #aaa;
			text-decoration: none;
		}

			#footer a:active, #footer a:hover {
				color: #666;
			}

		#footer .icons {
			font-size: 1.5em;
		}

			#footer .icons li {
				padding-right: 2.5em;
			}

				#footer .icons li:last-child {
					padding-right: 0;
				}

		#footer .copyright {
			margin: 2em 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(144, 144, 144, 0.25);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

/*Video*/

.fullscreen-bg {
	min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
   	min-width: 100%;
    min-height: 100%;
}

/*Scroll To Top Button*/

.scrollToTop {
    color: white;
    text-decoration: none;
    position: fixed;
    top: 90%;
    right: 3%;
    display: none;
}

.scrollToTop:hover{
	text-decoration:none;
}

#header .fa {
    font-size: 50px;

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.fa-arrow-circle-up:before {
    content: "\f0aa";
}
/*Mobile Goes Here*/



/*Responsive Design*/

@media only screen and (max-width: 768px) {

	#header {
	width: 100%;
	}

	#header.alt h1 {
		display: none;
	}

	#header .fa {
    font-size: 30px;

	}
	.container {
		width: 100%;
	}

    nav { 
    	width: 100%;
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    #banner {
    	width: 100%;
    }

    #banner li {
    	width: 100%;
    }

    .button {
     margin-right: 0 auto;
    }

    .projectcontent .contentboxo {
    	float: none;
    	margin: 50px;
    	width: 80%;
    }

	#footer {
		width: 100%;
	}

	#footer ul {
		width: 100%;
	}

}

@media only screen and (max-width : 480px) {

	#header.alt h1 {
		display: none;
	}

	.container {
		width: 100%;
	}

    nav {
    	width: 100%;
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        /*background: url('nav-icon.png') no-repeat;*/
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    #banner {
    	width: 100%;
    }

    #banner li {
    	width: 100%;
    }

    .button {
     margin-right: 0 auto;
    }

    #header .fa {
    font-size: 25px;
    margin-right: -7px;
	}

	#footer {
		width: 100%;
	}

	#footer .copyright li {
	border-left: none;
	float: none;
	list-style: none;
	margin-left: 0em;
	padding-left: 0em;
	}
}

@media only screen and (max-width : 320px) {

	#header .fa {
    font-size: 25px;
    margin-right: -7px;
	}

	#header.alt h1 {
		display: none;
	}

	#header.alt nav a {
    color: #FFF;
	}

	.container {
		width: 100%;
	}

    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #576979;
    }

    #banner {
    	width: 100%;
    }

    #banner li {
    	width: 100%;
    }

    .button {
     margin-right: 0 auto;
    }
    
	#footer {
		width: 100%;
	}

	#footer .copyright li {
	border-left: none;
	float: none;
	list-style: none;
	margin-left: 0em;
	padding-left: 0em;
	}
}